#MainContent_DropDownList1 {
    padding: 0.375rem 0.75rem;
}

.DropDownListRGV-lg {
    height: 36px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.select2-container--default .select2-selection--single {
    height: 36px;
    padding: 10px 16px;
    font-size: 14px;
    line-height: 1.33;
    border-radius: 6px;
}

    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        top: 85%;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 14px;
        font-family: inherit;
    }

.select2-container--default .select2-selection--single {
    border: 1px solid #CCC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
