<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--Valores del tiempo-->
    <add key="SessionTimeout" value="10" />
    <add key="SessionTimeoutWarning" value="9" />

    <add key="correoGratuito" value="soporte.tecnico@ntlink.com.mx" />
    <!--<add key="Host" value="smtp.Office365.com" /> hotmail
    <add key="Port" value="587" />-->
    <add key="Host" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <add key="enableSsl" value="true" />
    <add key="UserName" value="contacto.ntlink@ntlink.com.mx" />
    <add key="Password" value="%teb78JnUgV2Z4@S" />
  
    <!-- para token-->
    <add key="CertificadosToken" value="C:\NtLInk\Token\deploy.cuentasporpagar.com.crt" />
    <add key="LlaveToken" value="C:\NtLInk\Token\privada.p12" />
    <!--key ntlink-->
    <add key="KEYToken" value="#NTLink$" />
    <add key="ServicioLocal" value="http://localhost:90/ServicioLocalWeb/ServicioLocalWEB.svc" />
    <!--<add key="ServicioLocal" value="http://localhost/servicioLocalWEB_3.3/ServicioLocalWEB.svc"/>-->
 
    <add key="Documentos" value="Generar CFDI|Generar CFDI C/Retenciones|Generar CFDI Aduanal|Generar CFDI Personalizado|Generar CFDI Recibo Honorarios|Generar CFDI con Anticipos|Generar Recibo de Arrendamiento|Generar CFDI con Firmas|Generar CFDI con Anticipos y Firmas|Generar CFDI Customizado con Anticipos y Firmas|Liverpool|FacturaMabe|FacturaDeloitte|FacturaSorianaCEDIS|FacturaSorianaTienda|FacturaAdo|CorporativoAduanal|Factura Addenda Pemex|Factura Lucent|Addenda AMECE 7.1|Carta Porte|Coppel|Factura Home Depot|Factura Pilgrims|Factura Liverpool Detallista|Constancia de Retenciones|Honda|Amazon|CFDI Complementos|Comisionistas|ASOSCOC|Generar Complemento IEDU" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="UserNameRuta" value="C:\NtLink\tmpCorreo\" />
    
  </appSettings>
  
  <system.web>
    <globalization uiCulture="es-MX" culture="es-MX"/>
 
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" executionTimeout="3600" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <sessionState mode="InProc" timeout="10"/>
    
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <system.net>
    <mailSettings>
      <smtp from="gratuito@ntlink.com.mx">
        <network host="mail2.ntlink.com.mx" port="587" userName="gratuito@ntlink.com.mx" password="Ntlink2015" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>

  <!--<system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions>
          <remove fileExtension=".woff2" />
          <add fileExtension=".woff2" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>-->
  
</configuration>