<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICertificador" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://rds.dyndns.org:90/CertificadorWs/CertificadorService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICertificador"
                contract="NtLinkService.ICertificador" name="BasicHttpBinding_ICertificador" />
        </client>
    </system.serviceModel>
</configuration>